.dashboard {
  background-image: url(../../assets/img/bg/bg1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 10px 50px 20px 10px;
}
.dashboard nav .boxKiri {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #9ac1eb;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin-left: 10px;
  padding: 10px;
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard nav .boxKanan {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #9ac1eb;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.dashboard nav .boxKanan .user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  background: linear-gradient(0deg, rgba(154, 193, 235, 0.3), rgba(154, 193, 235, 0.3)), #ffffff;
  border-radius: 50px;
  padding-left: 20px;
}
.dashboard nav .boxKanan .user .name {
  font-size: 20px;
  margin-right: 20px;
  color: #000;
}
.dashboard nav .boxKanan .title {
  font-size: 25px;
  color: #000;
  margin-left: 30px;
}
.dashboard nav .boxKanan img {
  width: 50px;
}

.dashboard .boxKiri img {
  width: 100px;
}
main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 50px;
}
main .sidebar {
  width: 20%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #9ac1eb;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
main .sidebar ul {
  list-style: none;
  padding: 50px 20px;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(154, 193, 235, 0.3), rgba(154, 193, 235, 0.3)), #ffffff;
  opacity: 0.7;
  border-radius: 50px;
  padding: 10px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
}
.list.active {
  background: linear-gradient(0deg, rgba(154, 193, 235, 0.3), rgba(154, 193, 235, 0.3)), #ffffff;
  box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.25);
  opacity: 1;
}
main .sidebar img {
  width: 40px;
  margin-right: 10px;
}
.content {
  width: 75%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #9ac1eb;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.content .title{
    margin-bottom: 50px;
}
.tableContainer{
    background: linear-gradient(0deg, rgba(154, 193, 235, 0.3), rgba(154, 193, 235, 0.3)), #ffffff;
    border-radius: 20px;
    /* padding: 20px; */
}
